<%= javascript_include_tag 'rotate_element.js' %>
<div class="container-inner" style='margin-top:0px;'>
  <div id='front_logo_container'>
    <h1>FAVORITES</h1>
    <h1>RECORDS</h1>
  </div>
  <%= image_tag 'record_image.png', :id=>'record_image' %>
  <div class="row">
    <div class="text-center col-xs-12 col-md-8 col-md-offset-2" id='home_form_group'>
      <%= render 'shared/autocomp_search_form' %>
    </div>
  </div>
  <div class='row'>
    <div id='waiting_image_container'>
      <%= image_tag 'wait.png', :id=>'waiting_image' %>
    </div>
    <div id='car_image_container'>
      <%= image_tag 'cars.png',:id =>'car_image' %>
    </div>
  </div>
</div>

<%
=begin
%>
<% if signed_in? %>
<div class="container">
  <div class="col-xs-10">
    <div class="center jumbotron">
      <h2>Home</h2>
      <%= link_to "Sign out now", destroy_user_session_path, method: "delete", class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>
<% else %>
<div class="container">
  <div class="center jumbotron">
    <h1>Welcome to Musicians Sns App</h1>
    <h2>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
<% end %>
<%
=end
%>