<div class="modal fade" id="facebook_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p>FacebookのIDを入力して下さい。</p>
                </div>
                <div class="panel-body">
                    <%= form_for(@user, :url => {:controller => "users", :action => "registration_facebook_id" }) do |f| %>
                        <div class='container'>
                            <%= f.text_field :fb_id, class: "form-control" %>
                        </div>
                        <div class='row'>
                            <%= f.submit "変更", id: "submit_for_fb", class:'btn btn-primary' %>
                    <% end %>
                    <% if @user.fb_id == ''||@user.fb_id == nil %>
                        <%= form_for(@user, :url => {:controller => "users", :action => "destroy_facebook_id" }) do |f| %>
                            <%= f.submit "削除", id: "delete_for_fb", class:'btn btn-primary invalid_icon' %>
                        <% end %>
                    <% else %>
                        <%= form_for(@user, :url => {:controller => "users", :action => "destroy_facebook_id" }) do |f| %>
                            <%= f.submit "削除", id: "delete_for_fb", class:'btn btn-primary', :confirm => '本当にこのページからFacebookのID情報を削除してよろしいですか？' %>
                        <% end %>
                    <% end %>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>