<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-10">
    <section>
      <h1>
        
        <%= image_tag @user.avatar, class: "col-med-1" %>
        <%= @user.name %>
      </h1>
      
      <p>
        Birthday : <%= @user.birthday.strftime("%Y年%m月%d日") %> </br>
        Address : <%= @user.pref.name %> </br>
        </p>
        <div class = "jumbotron" style = "margin-left:90px">
          <h1><small>Introduction</small></h1>
          <p><small><%= @user.introduction %></small></p>
        </div>
    </section>
  </aside>
</div>