<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-10 col-md-offset-1">
    <section>
      <h1>
        
        <%= image_tag @user.avatar, class: "col-med-1" %>
        <%= @user.name %>
      </h1>
      
      <p>
        Birthday : <%= @user.birthday.strftime("%Y年%m月%d日") %> </br>
        Address : <%= @user.pref.name %> </br>
        </p>
        <div class = "jumbotron">
          <h1><small>Introduction</small></h1>
          <p><small><%= @user.introduction %></small></p>
        </div>
    </section>
  </aside>
  
  <% if @user == current_user %>
  <div class="col-md-8 col-md-offset-2">
  <%= render 'favorites/searchForm' %>
  </div>
  <%= render 'shared/favorite_form' %>
  <% end %>
  
  <div class="col-md-8 col-md-offset-2">
    <% if @user.favorites.any? %>
      <h3>Favorites (<%= @user.favorites.count %>)</h3>
      <table class="table" id="my_favorites">
        <%= render @favorites %>
      </table>
    <% end %>
  </div>
</div>