<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <p>
        Birthday : <%= @user.birthday.strftime("%Y年%m月%d日") %> </br>
        Address : <%= @user.pref.name %> </br>
        Introduction</br><%= @user.introduction %> </br>
      </p>
    </section>
  </aside>
</div>