<%= javascript_include_tag "change_background.js" %>
<% if @user == current_user %>
  <%= javascript_include_tag "createFavorite.js", "itunesSearch.js", "changeAvatars.js" %>
<% end %>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<% provide(:title, @user.name) %>
<div class="container">
	<div class="row">
		<div class="col-md-12">
      <div class="card hovercard">
        <div class="cardheader">
          <% if @user.header.url.nil? %>
            <%= image_tag 'record_background.png', :id=>'image_inCardheader' %>
          <% else %>
            <%= image_tag @user.header, :id=>'image_inCardheader' %>
          <% end %>
        </div>
        <div class="avatar">
          <% if @user.avatar.url.nil? %>
            <%= image_tag 'unknown_person.png', :id=>'image_inAvatar' %>
          <% else %>
            <%= image_tag @user.avatar, :id=>'image_inAvatar' %>
          <% end %>
        </div>
        <%= form_for(@user, :url => {:controller => "users", :action => "edit_avatar_image" }) do |f| %>
          <%= f.file_field :attr_avatar %>
          <%= f.hidden_field :avatar_cache %>
          <%= f.submit "", id: "submit_for_avatar" %>
        <% end %>
        <%= form_for(@user, :url => {:controller => "users", :action => "edit_header_image" }) do |f| %>
          <%= f.file_field :attr_header %>
          <%= f.hidden_field :header_cache %>
          <%= f.submit "Create my header", class: "btn btn-lg btn-primary", id: "submit_for_header" %>
        <% end %>
        <div class="info">
          <div class="title">
            <h1 id='profile_user_name'><%= @user.name %></h1>
          </div>
          <div class="desc">Birthday : <%= figure_age(@user.birthday) %>歳 ( <%= @user.birthday.strftime("%Y年%m月%d日") %> 生まれ )</div>
          <div class="desc">Address : <%= @user.pref.name %></div>
          <div class="desc">Tech geek</div>
          <aside class="col-md-10 col-md-offset-1">
            <div class = "jumbotron">
              <h1><small>Introduction</small></h1>
              <p><small><%= @user.introduction %></small></p>
            </div>
          </aside>
        </div>
      </div>
    </div>
	</div>
</div>
<div class="row">
  <%= render 'favorites/portlet_favorites' %>
</div>