<%= javascript_include_tag "change_background.js" %>
<% if @user == current_user %>
  <%= javascript_include_tag "createFavorite.js", "itunesSearch.js", "changeAvatars.js" %>
<% end %>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<% provide(:title, @user.name) %>
<div class="container">
	<div class="row">
		<div class="col-md-12">
      <div class="card hovercard">
        <%= render 'profile_card' %>
        <div class="info">
          <div class="title">
            <h1 id='profile_user_name'><%= @user.name %></h1>
          </div>
          <div class="desc">Birthday : <%= figure_age(@user.birthday) %>歳 ( <%= @user.birthday.strftime("%Y年%m月%d日") %> 生まれ )</div>
          <div class="desc">Address : <%= @user.pref.name %></div>
          <div id='sns_buttons'>
              <div class='mbutton_box'>
              <%= render 'users/modals/adress/adress_mbutton' %>
              </div><div class='mbutton_box'>
              <%= render 'users/modals/facebook/fb_mbutton' %>
              </div><div class='mbutton_box'>
              <%= render 'users/modals/twitter/tw_mbutton' %>
              </div><div class='mbutton_box'>
              <%= render 'users/modals/line/line_mbutton' %>
              </div><div class='mbutton_box'>
              <%= render 'users/modals/instagram/insta_mbutton' %>
              </div>
            </div>
          </div>
          <div class="container">
            <%= render 'users/modals/twitter/tw_form' %>
            <%= render 'users/modals/twitter/tw_info' %>
            <%= render 'users/modals/line/line_form' %>
            <%= render 'users/modals/line/line_info' %>
            <%= render 'users/modals/facebook/fb_form' %>
            <%= render 'users/modals/facebook/fb_info' %>
            <%= render 'users/modals/adress/adress_form' %>
            <%= render 'users/modals/adress/adress_info' %>
            <%= render 'users/modals/introduction/intro_form' %>
            <%= render 'users/modals/instagram/insta_info' %>
            <%= render 'users/modals/instagram/insta_form' %>
            <%= render 'users/modals/youtube/yt_form' %>
          </div>
          <aside class="col-md-10 col-md-offset-1">
            <%= render 'users/introduction' %>
          </aside>
        </div>
      </div>
    </div>
	</div>
</div>
<div class="row">
  <%= render 'favorites/portlet_favorites' %>
</div>